{% extends 'cursos/base.html' %} <!-- Caminho para o template base -->
{% block conteudo %}
<h1 style="text-align: center;">Detalhe do Curso</h1>
<div class="container">
    <table class="table table-hover table-bordered">
        <tr>
            <th>Id</th>
            <th>Cursos</th>
            <th>Finalizado</th>
            <th>Descrição</th>
        </tr>
        <tr>
            <td>{{dados.id}}</td>
            <td>{{dados.cursos}}</td>
            <td>{{dados.finalizado}}</td>
            <td>{{dados.descrição}}</td>
        </tr>
    </table>
</div>
{% endblock %}